<h1>Reading List</h1>

<div class="row" ng-controller="ReadingListCtrl as readingList">
  <ul class="list-unstyled col-sm-8">
    <li class="book row" ng-repeat="book in readingList.books">
      <aside class="col-sm-3">
        <a href="#" class="thumbnail"><img ng-src="http://images.amazon.com/images/P/{{book.isbn}}.01.ZTZZZZZZ.jpg" alt="Cover of {{book.title}}" class="full"></a>
        <h4>{{book.rating}}/5</h4>
      </aside>
      <div class="col-sm-9">
        <h3>
          <a href="#">{{book.title}}</a>
        </h3>
        <cite class="text-muted">
          Written by {{book.authors.join(' &amp; ')}}
        </cite>
        <p>{{book.review}}</p>
        <ul class="list-inline">
          <li ng-repeat="genre in readingList.genres">
            <span class="label label-primary">{{genre}}</span>
          </li>
      </div>
    </li>
  </ul>
  <aside class="col-sm-4">

  </aside>
</div> <!-- /row -->